.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #ffffff;
}

.hero-bg {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hero-bg img, 
.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-video-desktop,
.hero-video-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-video-desktop {
    display: block;
}
.hero-video-mobile {
    display: none;
}

.hero-text-box {
    max-width: 542px;
}

.hero-content-container {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1446px;
    margin: 0 auto;
    padding: 0 16px;
}

/* --- CASO 1: VIDEO --- */
.hero-case-1 {
    background-color: #A9A9A9;
}

.hero-case-1 .hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.hero-case-1 .hero-title {
    font-weight: 400;
    font-size: 109px;
    line-height: 98px;
    font-family: 'DM Serif Display', serif;
}

.hero-case-1 .hero-description {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Fragment Mono', monospace;
    font-weight: 400;
    max-width: 260px;
}

/* --- CASO 2: IMAGEN + DEGRADADO --- */
.hero-case-2 .hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(97.48deg, rgba(0, 0, 0, 0.33) 24.09%, rgba(0, 0, 0, 0) 63.33%);
}

.hero-case-2 .hero-title {
    font-weight: 400;
    font-size: 4rem;
    line-height: 88px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 14px;
}

.hero-case-2 .hero-description {
    font-size: 2rem;
    line-height: 38px;
    font-family: 'Fragment Mono', monospace;
    font-weight: 400;
    margin-bottom: 97px;
}

.hero-case-2 .hero-divider {
    width: 56px;
    height: 2px;
    background: #F6F5F2;
    margin-bottom: 6px;
}

.hero-case-2 .hero-footer-text {
    font-size: 1rem;
    line-height: 19px;
    font-family: 'Fragment Mono', monospace;
    font-weight: 400;
}

/* --- CASO 3: SPLIT 40/60 --- */
.hero-case-3 {
    background-color: #B2C7D9;
}

.hero-case-3 .hero-bg {
    left: 41%;
    width: 59%;
}

.hero-case-3 .hero-content-container {
    padding-left: 40px;
}

.hero-case-3 .hero-pretitle {
    display: block;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Fragment Mono', monospace;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-case-3 .hero-title {
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    max-width: 382px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 30px;
}

.hero-case-3 .hero-description {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Fragment Mono', monospace;
    font-weight: 400;
    max-width: 427px;
}

@media (max-width: 1024px) {
    .hero-case-3 .hero-bg {
        left: 45%;
        width: 55%;
    }

    .hero-case-3 .hero-content-container {
        padding-left: 24px;
        max-width: 45%;
        margin: 0;
    }

    .hero-case-3 .hero-title {
        font-size: 54px;
        line-height: 1.1;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero-case-3 .hero-description {
        font-size: 18px;
        line-height: 1.4;
        max-width: 100%;
    }
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {

    .hero-case-1 .hero-video-desktop {
        display: none !important;
    }
    
    .hero-case-1 .hero-video-mobile {
        display: block !important;
    }

    .hero-case-1 .hero-title {
        font-size: 77px;
        line-height: 73px;
    }

    .hero-case-1 .hero-description {
        font-size: 16px;
        line-height: 19px;
        
        max-width: 260px;
    }

    .hero-case-2 .hero-title {
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 24px;
        max-width: 62%;
    }

    .hero-case-2 .hero-description {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 24px;
        max-width: 44%;
    }

    .hero-case-2 .hero-footer-text {
        font-size: 1rem;
        line-height: 19px;
        max-width: 22%;
    }

    .hero-case-3 {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        background-color: #FFFFFF;
        display: block; 
        margin-bottom: 20px;
    }

    .hero-case-3 .hero-bg {
        position: relative;
        width: 100%;
        aspect-ratio: 4 / 7; 
        height: auto;
        left: 0;
        overflow: hidden;
    }

    .hero-case-3 .hero-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; 
    }

    .hero-case-3 .hero-content-container {
        position: relative;
        width: 100%;
        padding: 0 24px;
        margin-top: -100px;
        z-index: 10;
        max-width: 100%;
        box-sizing: border-box;
    }

    .hero-case-3 .hero-text-box {
        background-color: #AFCBDE;
        padding: 45px 30px 45px 30px;
        max-width: 100%;
        text-align: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    }

    .hero-case-3 .hero-pretitle {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #223E36;
    }

    .hero-case-3 .hero-pretitle::after  { content: '---'; }

    .hero-case-3 .hero-title {
        font-size: 48px;
        line-height: 120%;
        color: #223E36;
        max-width: 100%;
        margin-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-case-3 .hero-description {
        font-size: 16px;
        line-height: 19px;
        color: #223E36;
        margin: 0 auto;
    }
    
}